.background {}

.nightHide {
  display: inherit;
}

.nightHideApplied {
  display: none;
}

.nightText {
  fill: white;
}

.nightTextApplied {
  fill: fb-red;
}

#time {
  font-size: 80;
  font-family: System-Light;
  text-length: 5;
  y: 50%+27;
  x: 50%;
  text-anchor: middle;
}

.day {
  font-size: 20;
  font-family: System-Regular;
  text-length: 10;
  text-anchor: middle;
  x: 50%;
  fill: white;
}

#day {
  y: 25%+20;
}

#weekday {
  y: 25%;
}

#batteryIcon {
  x: 50%+2;
  y: 2;
  width: 32;
  height: 32;
}

#batteryMaskRect {
  x: 50%+2;
  y: 4;
  width: 32;
  height: 0;
}

#batteryIconFill {
  x: 50%+2;
  y: 2;
  width: 32;
  height: 32;
  fill: fb-light-gray;
}

#battery {
  text-anchor: start;
  x: 50%+36;
  y: 24;
  font-size: 20;
  font-family: System-Regular;
  text-length: 8;
}

.weatherIcon {
  display: none;
  x: 50%-34;
  y: 2;
  width: 32;
  height: 32;
}

#weather {
  x: 50%-36;
  y: 24;
  text-anchor: end;
  font-size: 20;
  font-family: System-Regular;
  text-length: 8;
}

.goalIcon {
  width: 20;
  height: 20;
  fill: white;
}

.goals {
  font-size: 20;
  font-family: System-Regular;
  text-length: 8;
  fill: white;
}

#floorsIcon {
  x: 50%-22;
  y: 90%-43;
  fill: fb-cyan;
}

#floors {
  x: 50%-24;
  y: 90%-26;
  text-anchor: end;
}

#azmIcon {
  x: 50%+2;
  y: 90%-43;
  fill: fb-red;
}

#azm {
  x: 50%+24;
  y: 90%-26;
  text-anchor: start;
}

#stepsIcon {
  x: 50%-22;
  y: 90%-20;
  fill: fb-cyan;
}

#steps {
  x: 50%-24;
  y: 90%-3;
  text-anchor: end;
}

#caloriesIcon {
  x: 50%+2;
  y: 90%-20;
  fill: fb-red;
}

#calories {
  x: 50%+24;
  y: 90%-3;
  text-anchor: start;
}

#distanceIcon {
  x: 50%-22;
  y: 90%+3;
  fill: fb-cyan;
}

#distance {
  x: 50%-24;
  y: 90%+20;
  text-anchor: end;
}

#heartIcon {
  x: 50%+2;
  y: 90%+3;
  fill: fb-red;
}

#heartrate {
  x: 50%+24;
  y: 90%+20;
  text-anchor: start;
}

.horiz {
  width: 100%;
  height: 1;
  x: 0;
  y: 50%;
  fill: gray;
}

.verti {
  width: 1;
  height: 100%;
  x: 50%;
  y: 0;
  fill: gray;
}